@import url("https://rsms.me/inter/inter.css");




body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden
}

canvas {
  background-color: #2e2d2d;
  display: block;
  height: 100%;
  width: 100%
}


#root{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  padding: 40px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

#model{
  position: absolute;
  width: 100%;
  height: 100%;
}